.container {
  width: 100%;
}
@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}

.primary--color {
  color: rgb(255, 56, 92);
}

.primary--BGcolor {
  background-color: rgb(255, 56, 92);
}

.one__line__text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.scroll__custom::-webkit-scrollbar {
  width: 6px;
}

.scroll__custom::-webkit-scrollbar-thumb {
  background-color: gray;
}
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: gray;
}

/* Custom scroll top button */
.styles_scroll-to-top__2A70v {
  background-color: rgb(255, 56, 92) !important;
}
.dark .styles_scroll-to-top__2A70v {
  background-color: white !important;
}
.styles_scroll-to-top__2A70v svg {
  width: 100%;
}
